body{
    background-color: #F5F5F5;
    
}
.html{
    font-family: "regular poppins";
}
nav{
        -webkit-box-shadow: none !important;
    box-shadow: none !important;

}
.m0{
  margin:0px !important;
}
.ml{
margin-left: 0px ;
}
.p0{
    padding: 0px !important;
}
  /* Calendar Css*/
  .calendar-cnt{
      height:450px;
  }
  /* End Calendar Css */
  /* LogIn Css */

  
      
  /* End LogIn Css */

  
  /* Availability Css */
  .wholee{
    margin: 84px  223px 84px 223px !important; 
    background-color:#FFFFFF;
    width:1100px;
    /* margin-top: 84px;
    margin-bottom: 84px; */
}
.picture{
background-image: url("meet1.png");
 height: 599px !important; 
width: 550px !important;  
padding:0px !important;
 background-repeat: no-repeat;
}
.mater{
    height: 599px !important; 
width: 550px !important;  
padding:0px !important;
}
.setavailable{
    font-size: 32px;
    font-weight: 500 !important;
    margin-top: 55px;
    margin-left: 39px !important ;
}
.workhrs{
    font-size:25px;
    /* margin-top: 41px !important; */
    margin-top: 35px !important;

    margin-left: 40px !important ;
}
.high{
margin-left:23px !important;
/* margin-top: 24px !important ; */
margin-top: 16px !important;

}
.from-to{
    /* margin-top: 24px !important ; */
}
.frm{
    font-size: 20px !important;
}
.to-from{
    /* margin-top: 24px !important ; */

 padding-left: 10px !important;
}
.frda{
    font-size: 20px;
}
.tda{
    font-size: 20px;
    margin-left:0px !important;
}
.toadj{
    /* margin-left :14px !important; */
    margin-left:0px !important;
}
.slttime{
  
    margin-top: 18px !important;
    padding: 2px !important;
    padding-left: 12px !important;
    font-size:20px;
    border-color:#707070 ;
  
}
.slottime{
    margin-top: 18px !important;
    font-size:20px !important;
    border-color: #707070;
    padding-left:0px !important;
}
.selbox{
width:141px;
height:35px;
border:2px solid #707070;
border-radius: 2px;
color:#827CBF;
padding: 2px !important;
padding-left: 7px !important;
padding-top:0px !important;
}
.workdays{
    /* margin-top: 30px; */
    margin-top: 12px !important;

    font-size: 25px;
    /* font-weight: 500 !important; */
    margin-left: 42px !important ;
}
.weeks{
    margin-top: 20px;  
    margin-left:50px !important;
    /* margin-right: 10px !important; */
}
.gray-label{

    margin-left: 0px !important;
    margin-top: 0px !important;
    font-size:18px;
        color: #B3B1B1;
}
.check-color{
    /* color:#B3B1B1 !important; */
}
.sun-label{
     margin-left: 0px !important;
    margin-top: 0px !important;
    font-size:18px;
        /* color: #827CBF; */
        color: #B3B1B1;
    } 
    .cont input:checked ~ .sun-label {
        color: #827CBF !important;
    }

.boxbdr{
    border:1px solid;
    height:60px !important;
    width:66px !important;
     padding-left: 12px !important;
   color: #B3B1B1;
   margin-left: -1px !important;
}
.nextb{
    padding-bottom: 47px;
}
.nxt-btn{
    /* margin-top:50px; */
    margin-top: 99px !important;

 margin-left:362px !important;
 width:150px;
 height:50px;
 background-color:#827CBF !important;
 color:white ;
 border:none;
 border-radius: 10px;
 font-size:18px;
}
/* The container */
.cont {
  display: block;
  position: relative;
  padding-left: 2px !important;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px !important;
  left: 12px !important;
  height: 12px !important;
  width: 12px !important;
  background-color:#B3B1B1;
  border-radius:50px;
  padding-left: 4px !important;
}

/* On mouse-over, add a grey background color */
/* .cont:hover input ~ .checkmark:active {
    background-color:#827CBF !important;
  
} */

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
    background-color: #827CBF !important;
}
.cont input:checked ~ .checkmark:active {
    /* background-color:#827CBF !important; */
}
/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  position: absolute;
  display: none;
          

} */
/* Show the checkmark when checked */
/* .cont input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/* .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */



  /* End Availability Css */
/* Header css */


.menu{
    padding-left: 15px;
    color:#A7A7A8;
}


.inp{
    position:relative;
    left:100px;
}
.searchicon{
    margin-left: 42px;
    
}
#search{
    width:400px;
    padding-left: 35px;
}
.namcnr{
    margin:20px;
    color:#A7A7A8;
}
.topimg{
    margin-right: 20px;
    height:44.7px;
    width: 44.37px;
}
.dispic{
    height:60px;
    padding-top: 10px;
     margin-right: 45px;
    /* margin-top: 10px; */ 
}



/* End Header css */


 /* Meeting page css */
.meet-card{
    width: 700px;
    margin: 60px 430px 60px 430px;
    height:auto;
    /* margin-top: 59px;
    margin-left: 329px; */
    border-radius: 15px;
    /* box-shadow: 0px 3px 6px #00000029 !important */
    /* background-repeat: no-repeat;*/
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    /* font-family:"regular poppins" !important; */
    font-weight: 500;
   
  }
  .meet-icon{
      margin-top: 30px !important;
      margin-left: 25px !important;
      width:17px !important;
      height:27px !important;
      opacity: 1;
      background: transparent url('../components/images/chevron-left.svg') 0% 0% no-repeat padding-box;  
  }
  /* .left-icon{
      margin-top: 30px !important;
      margin-left: 25px !important;
      width:27px !important;
      height:37px !important; 
      opacity: 1;
  }  */
  .event-title{
      font-size: 22px;
      /* margin-top: 64px !important; */
      margin-left: 55px !important;
     
      /* font-family:"regular poppins" !important; */
  }
  .meeting-time{
      font-size: 25px;
      /* width: 299px !important;
      height: 43px !important; */
      /* margin-top: 93px !important; */
      margin-left: 60px !important;
      color: #919191;
      /* font-family:"regular poppins" !important; */
  }
  .time-row{
      margin-left: 35px !important; 
      margin-top:5px;
      
  }
  .mins{
      font-size: 15px;
      color: #919191;
      width:30px !important;
  
  }
  .select-time{
      font-size: 24px;
      text-align: center;
  }
  .calendar-wdt{
      width:600px;
      margin-left: 64px;
      /* padding: 40px; */
  }

      /* End Meeting css */


    /* calendar css */
    span.rbc-btn-group,button:nth-child(1) {
        /* color: aqua;   */
        /* display: none !important; */
       }
    /* .rbc-btn-group {
        display: none !important;
    } */
    /* .date-in-past >div{
        pointer-events: none;
      } */
        .date-in-past .rbc-row-content {
        /* pointer-events: none !important;  */
        /* opacity: 0.4 !important; */
        /* width: 14.3%; 
         background: #ccc;  */
      }
      /* .rbc-date-cell .rbc-now .rbc-current{
          pointer-events: visible !important;
      } */
      /* .rbc-month-row  .rbc-row-bg  .date-in-past.rbc-date-cell {
          pointer-events: none !important;
      } */
      
       .date-in-past {
        /* pointer-events: none !important; */
        outline: none;
        /* opacity: 0.4 !important; */
        width: 14.3%;
        background: #ccc;
        /* border: 2px solid #fff;
        border-radius: 5px; */
        /* border-right: solid 1px #fff; */
       }
    .rbc-header + .rbc-header {
        border-left:inherit;
    }
    /* .rbc-month-row ,.rbc-row-bg ,.date-in-past ,.rbc-day-bg{
        pointer-events: none !important; 
    } */
    /* .rbc-date-cell a{
    cursor:not-allowed;
} */
/* .unread{
    pointer-events: none !important;
} */
    
    .rbc-header {
        border-bottom: inherit !important;
    }
    .rbc-month-view {
        border: inherit !important
    }
    .rbc-day-bg + .rbc-day-bg {
        border-left:inherit !important;
    }
    .rbc-month-view {
        border-bottom: inherit !important;
    }
    .rbc-month-view {
        text-align: center !important;
    }
    .rbc-month-row {
        justify-content: center !important;
    }
    .rbc-month-row + .rbc-month-row {
        border-top: inherit;
        justify-content:center !important;
    }
    .rbc-date-cell {
        text-align: inherit;
    }
    .rbc-toolbar-label{
        margin-right: 120px !important;
    }
    .rbc-toolbar button {
        padding: 3px !important;
        margin: 10px;
       border: inherit !important;
       color:#827CBF ;
       font-weight: 500;
       background-color: inherit !important;
    }
div.meet-card .calendar-cnt .rbc-calendar  span.rbc-btn-group button:first-child{
    display: none !important;  
    background: #ff0000 !important;
}
div.meet-card .calendar-cnt .rbc-calendar span.rbc-btn-group + span + span.rbc-btn-group  { 
    display: none !important;
}

    div.pickcard .calendar-wdt span.rbc-btn-group button:first-child { 
background: #ff0000 !important;
display: none !important;
    }


    div.pickcard .calendar-wdt span.rbc-btn-group + span + span.rbc-btn-group  { 
        background: #ff0000 !important;
        display: none !important;
            }

      /* End calendar Css */


  /* User Details Css */



  .user-card{
    width: 700px;
    /* height:750px; */
    margin-top: 59px;
    margin-left: 389px;
    border-radius: 15px;
    /* box-shadow: 0px 3px 6px #00000029 !important */
    /* background-repeat: no-repeat;*/
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    /* font-family:"regular poppins" !important; */
    font-weight: 500;
    
    
  }
  .calendar-row{
    margin-left: 35px !important;
     color:#827CBF;
    /* width:29px !important;   */
  }
  .calendar-mins{
    font-size: 18px;
    width:30px !important;
  }
  .enter-details{
    font-size: 24px;
    text-align: left;
    margin-left: 64px !important;
  }
  .form-field{
      padding:0px 86px 0px 64px;
  }
  .user-input {
      width:540px !important;
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    /* margin-top: 8px !important; */
    /* border-bottom: none; */
    box-shadow: none !important;
    padding-left: 10px !important;
}
.user-input-area{
    height:120px !important;
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    /* margin-top: 30px !important; */
    /* border-bottom: none; */
    box-shadow: none !important;
    padding-left: 10px !important; 

}
.frm-label{
    font-size: 20px !important;
    color: black !important;
    position: inherit !important;
}


.add-btn{
    width:130px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #827CBF;
    color:#827CBF;
    box-shadow: none;
    text-transform: none !important;
    
}

/* .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
} */
.frm-label-area{
    
    margin-top: 15px;
    font-size: 20px !important;
    color: black !important;
    position: inherit !important;
}
.add-schedule-btn{
    padding-bottom: 100px !important;
}
.add-btn-meeting{
    margin-top: 20px;
    padding-top: 0px;
    float:right;
    width:203px;
    height: 50px;
    border-radius: 5px;
    background-color: #827CBF !important;
    border: 1px solid #827CBF;
    color:white;
    box-shadow: none;
    text-transform: none !important;
    
}
a.add-btn-meeting:hover{
    background-color: #827CBF !important; 
}
.btn.add-btn-meeting:hover{
    background-color: #827CBF !important;
}
.btn.add-btn-meeting:focus{
    background-color: #827CBF !important;
}

/* .btn:hover,{
    background-color: inherit !important;
} */





/* End User details css */



/* Pick Time Css */
.select-time-pick{
    font-size: 24px;
    margin-left: 170px;
    
    /* text-align: center; */
}
.pick-card{
    margin: 59px 258px;
    border-radius: 5px;
    width:1050px;
    height: 650px !important;
}
.pick-time-card{
  
}

/* .row{
    margin-bottom: 0px;
} */
/* .av-time{
    border: 2px solid red ;
} */

.pickcard{
    margin: 0px;

}

.pickcard .calendar-wdt{
    margin: 0px !important;
}
.day-text{
    text-align: left !important;
    margin-top: 55px !important;
    color: #827CBF !important;
    font-size: 25px;
    margin-bottom: 15px;

}
.time-slot-main{
    overflow-y: scroll;
    height:430px;
}
::-webkit-scrollbar {
    width: 0px;
  }
.time-btn{
    width:200px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #00000029;
    color:#131313;
    box-shadow: none;  
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 6px 16px !important;
    
}
.hide-btn{
    width:205px !important;
    margin-top: 20px;
    
}
.time-btn-hide{
    width:95px;
    height: 50px;
    border-radius: 5px;
    background-color: #707070;
    border: 1px solid #00000029;
    color:#FFFFFF;
    box-shadow:none;  
    font-size:15px;
    font-weight: 500;
    padding: 6px 10px !important;
    box-shadow: none ;
    text-transform: inherit !important;
}
a.time-btn-hide:hover {
    background-color: #707070 !important;
}
.confirm-btn-hide{
    width:95px;
    height: 50px;
    border-radius: 5px;
    background-color: #827CBF;
    border: 1px solid #00000029;
    color:#FFFFFF;
    box-shadow: none;  
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px !important; 
    box-shadow: none !important; 
    text-transform: inherit !important;
}
a.confirm-btn-hide:hover {
    background-color: #827CBF !important;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: inherit !important;
   
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color:inherit !important;
}
/* .btn, .btn-large, .btn-small, .btn-flat {
    padding:8px 16px ;
} */


   /* End Pick Time Css */


   /* Home Page css */
   .lft-space{
       background-color: white;
        width:50px !important;
        height:auto;
   }
.home-card{
   margin: 50px 137px 50px 73px; 
   /* padding-left: 60px; */
   padding: 30px 60px 30px 60px;
   /* height:610px !important; */
   border-radius: 5px;
}
.pick-link{
    /* padding: 30px 60px; */

}
.usr-nam{
    font-size: 25px !important;
    text-align: left;
}
.usr-link{
    font-size: 17px !important;
    text-align: left;
    color: #827CBF;
}
.img-content{
    margin-top: 8px !important;
    
}
.home-divider{
 
}
.user-img{
    background:  url('../components/images/avatar3.png') ;
    width:67px;
    height:67px; 
    border-radius: 50%;
    margin-top: 8px !important; 
}
.td-mtg{
    color:#616161;
    font-size: 16px;
    font-weight: 500;
    
}
.tabs .indicator {

    margin: 0px 15px;
    position: absolute;
    bottom: 4px;
    height: 2px;
    background-color: #827CBF !important;
    will-change: left, right;
}
.tabs .tab {
  
    display: inline-block;
    text-align: left;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform:none;
}
.tab-width{
 width: 140px !important;
}
.tab-width2{
    width: 160px !important;
   }
.tabs .tab a {
    /* color: rgba(238,110,115,0.7); */
    color: #616161;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}
.tabs .tab a:hover , .tabs .tab a.active {
    background-color: transparent;
    color: #616161;
}
.tabs .tab a:hover , .tabs .tab  {
    background-color: transparent;
    color: #616161;
}
/* a.td-mtg:active {
    text-decoration: underline;
  } */
  
/* .td-mtg:hover{
    border-bottom: 2px solid #827CBF;  
     border-radius: 2px  ;
} */

.ntf-card{
    margin: 30px 0px;
   /* padding:55px; */
}
.usr-ntf{
    width:400px;
    height:100px;
    /* margin-left: 70px; */
    margin:10px 55px;
    border-radius: 10px;
}
.crd-cntt{
    padding:10px;
}
.usr-profile{
    width:67px;
    height:67px;
    border-radius:50%;
}
.usr-card-lab{
    font-size: 17px;
    text-align: left !important;
    font-weight: 500 !important;
    padding: 10px 4px 3px 14px !important;

}
.usr-card-time{
    font-size: 15px;
    color:#616161;
    padding: 0px 8px 18px 12px !important;
    font-weight: 500 !important;
}
.usr-card-time i{
    padding-right: 5px;
  padding-top:13px;
  
}
.acs-time{
    font-size:16px;
    margin-top:5px;
   
}
.home-time-slot{
    width: 133px !important;
    padding-left: 6px !important;
}
.acs-hrs{

}
/* .avtr-img{
    background:  url('../components/images/avatar4.png') ;
    width:67px;
    height:67px; 
    border-radius: 50%; 

} */
.usr-time{
    margin-top:5px;
}
/* .card-btn-ntf{
    font-weight: 800 !important;
} */
.btn-ntf{
    width:100px !important;
    height:28px;
    border-radius: 5px;
    margin-top: 6px !important;
    margin-bottom: 8px;
}
.hide-btn-home{
    margin-top: 20px;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    /* background-color: inherit !important; */
    /* color:black; */
} 
   /* End Home Page css */

   .usr-shd{
       padding-left: 25px !important;
   }
   .usr-card-shd{
    font-size: 15px;
    color:#616161;
    padding: 0px 0px 2px 0px !important;
    font-weight: 500 !important;
}
.usr-card-lab-shd{
    font-size: 17px;
    text-align: left !important;
    font-weight: 500 !important;
  

}
.usr-card-time-shd i{
    padding-right: 5px;
  /* padding-top:10px; */
  
}
.acs-time-shd{
    font-size:16px;
    margin-top:5px;
    padding-right: 5px !important;
   
}
.time-icon-lab{
    margin-bottom: 10px;
}
    /* Schedule Meeting Css */
      

    /* End Schedule Meeting Css */

.mb0{
    margin-bottom: 0px;  
}


a.green.accent-3:hover {
    background-color: #00F196 !important;
}
a.red:hover {
    background-color: red !important;
}









/* Login Css */


.backimg{
    background-image: url("../components/sammin.png");
     height: auto !important; 
    width: 100% !important;  
   background-repeat: no-repeat;
   background-size: cover;
  
  }
  .googlee{
   margin-top: 670px;
   margin-bottom: 40px;
   text-align: center !important;
  }
  .signwith{
    font-size: 22px;
    font-weight: 500;
  }
  .butngoogle{
    height:60px !important;
    width: 334px !important;
    background-color: #FFFFFF;
    color:black;
    border-radius:10px;
    text-transform: inherit !important;
    font-size: 22px;
    font-weight: 500;
    border:none
  }
  .btn:hover, .btn-large:hover, .btn-small:hover{
      background-color: white !important;
  }
  .btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color:white !important;
  }
  .googicon{
    margin-left:10px;
  
  }

/* End Login Css */
     /* Responsive for Mobile */
     @media only screen and (max-width: 600px) {
         /* SignIn Css Responsive */
         .backimg{
            
             
         }

         /* SignIn Css Responsive */

        /* Set Availabilty Css Responsive */
        .wholee{
        
        margin: inherit;
        }
        /* Set Availabilty Css Responsive */
        .meet-card{
            margin-left: inherit;
            width:inherit;
            height:inherit;
            margin: 10px;
        }
        .meet-icon{
          
        }
        .event-title{
            margin-left: inherit;
            text-align: center;
        }
        .meeting-time{
            text-align: center;
            margin-left: inherit;
            font-size: 18px;
        }
        .time-row{
           
            margin-left:inherit; 
            
        }
        .mins{
            
            /* color: #919191; */
            /* width:30px !important; */
            margin: inherit !important;
        
        }
        .calendar-cnt {
            height: 440px;
        }
        .rbc-toolbar-label{
            text-align: center;
        }
        /* PickTime Css Responsive */
        .pick-card{
            margin: 10px;
            margin-left: inherit;
           
        }
        

        /* PickTime Css Responsive */


        /* User Details Responsive */
          .user-card{
              margin-left: inherit;
              margin: 10px;
          }
          /* User Details Responsive */
          /* Home Css Responsive */
          .home-card {
            margin: inherit;
           
            padding: inherit;
            height:auto !important;
            border-radius: 5px;
        } 
        .usr-ntf{
            margin: inherit;
            width: 250px;
        }    


          /* Home Css Responsive */




     }
     @media only screen and (min-width: 600px) {
          /* Set Availabilty Css Responsive */
        .wholee{
           
            margin:inherit;
            }
            /* Set Availabilty Css Responsive */

         /* Meeting Css Responsive */
     
         /* Meeting Css Responsive */
         /* PickTime Css Responsive */
        .pick-card{
            /* margin: 100px; */
            /* margin-left: inherit; */
            
           
        }
        

        /* PickTime Css Responsive */

     }
     @media only screen and (min-width: 768px) {
    /* For mobile phones: */
    /* Meeting Page */

    

     /* PickTime Css Responsive */
     .pick-card{
        /* margin:10px; */
        /* margin-left: inherit; */
       
    }
    

    /* PickTime Css Responsive */
    /* UserDetails */
       
     /* User Details Responsive */
     .user-card{
        margin-left:inherit;
        margin: 10px;
   }
   /* User Details Responsive */
     /* Header Responce */
    
     /* End Header Responce */
   /* Home Page Responce */
     
     /* End Home Page Responce */
    }  
    @media only screen and (min-width: 992px) {
     /* Meeting Css Responsive */
     /* Meeting Css Responsive */

     /* User Details Responsive */
     .user-card{
         margin-left: 430px;
        /* margin: 10px; */
    }
    /* User Details Responsive */
    }
    @media only screen and (min-width: 1200px) {
        /* Meeting Css Responsive */
          
         /* Meeting Css Responsive */
    }